.wrapper {
  background-color: hsla(47, 21%, 92%, 0.5);
}

.innerWrapper {
  padding-top: calc(16rem * var(--scale));
  padding-right: calc(6rem * var(--scale));
  padding-bottom: calc(16rem * var(--scale));
  padding-left: calc(6rem * var(--scale));
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0;

  @media (min-width: 640px) {
    flex-direction: row;

    & > * {
      margin-right: calc(2rem * var(--scale));
      flex: 1 1 305px;
    }
  }
}

.textInput {
  width: 100%;
  margin-bottom: calc(2rem * var(--scale));
  padding: calc(2rem * var(--scale)) calc(4rem * var(--scale));
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.submitButton {
  width: 100%;
  padding: calc(2rem * var(--scale)) calc(4rem * var(--scale));
  color: #333;
  font-weight: 500;
  background-color: transparent;
  border: 3px solid #333;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.025);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 640px) {
    width: auto;
  }
}
