.title {
  max-width: 525px;
}

.announcement {
  margin-top: -20px;
  padding: calc(5rem * var(--scale)) 0;
  border: 7px solid #333;
  border-left: 0;
  border-right: 0;
}

.missionStatement {
  margin: 0;
  font-weight: 500;
}

.recentUpdates {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;

  @media (min-width: 768px) {
    flex-direction: row;
    margin: 0 calc(-4rem * 0.25);
  }
}

.item {
  padding-bottom: calc(3rem * 0.25);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);

  &:last-of-type {
    border-bottom-width: 0;
  }

  & h4 {
    margin-bottom: calc(2rem * 0.25);
  }

  /** FIXME: not sure how to translate this to CSS modules.
  ${HtmlContent} {
    margin-top: 0;
    margin-bottom: calc(2rem * var(--scale));
  } */

  @media (min-width: 768px) {
    flex: 0 0 33.333333%;
    padding: calc(4rem * var(--scale));
    border-right: 1px solid hsla(0, 0%, 0%, 0.12);
    border-bottom-width: 0;

    &:last-of-type {
      border-right-width: 0;
    }
  }
}

.video {
  width: 100%;
  height: 224px;

  @media (min-width: 640px) {
    height: 344px;
  }

  @media (min-width: 768px) {
    height: 372px;
  }

  @media (min-width: 1024px) {
    height: 406px;
  }

  @media (min-width: 1280px) {
    height: 446px; /* 428 */
  }
}
